body {

    background-color: #302D47;
    font-family: 'Poppins', sans-serif;

}

.container {

    max-width: 1366px;
    margin: 0 auto;

}

.logo {

    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin-right: 45px;

}

.logo-title {
    font-size: 51px;
    font-weight: 900;
}

.logo-sub-title {

    font-size: 11px;
    color: #BFBFBF;

}

.welcome {

    color: #BFBFBF;
    font-size: 20px;

}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;

}

.logo-wrapper {

    display: flex;
    align-items: center;

}

.button {

    background-color: #6C63FF;
    border: 1px solid #6C63FF;
    color: #ffffff;
    padding: 17px 33px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    border: 1px solid #6C63FF;
    transition-duration: 300ms;

}

.button:hover {

    background-color: transparent;
    color: #6C63FF;

}

.button--red {

    background-color: #EE4C4C;
    border: 1px solid #EE4C4C;

}

.button--purple:hover {

    border: 1px solid #6C63FF;
    background-color: transparent;
    color: #6C63FF;

}

.button--red:hover {

    border: 1px solid #EE4C4C;
    background-color: transparent;
    color: #EE4C4C;

}

.button-header-wrapper {

    display: flex;

}

.button-header-wrapper .button--purple {

    margin-right: 15px;

}

.search-mid {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.box-search-mid {

    display: flex;
    align-items: center;
    justify-content: center;

}

.texto-search-mid {

    margin-left: 74px;
    font-size: 32px;
    color: #ffffff;
    text-transform: capitalize;

}

.input-box-search-mid {

    margin-right: 19px;
    border: none;
    background-color: transparent;
    padding: 14px 151px 14px 22px;
    background-color: #3F3D56;
    border-radius: 7px;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;

}

.box-search-mid button {
    margin-right: 19px;
    font-size: 14px;
}

.search-mid.container {
    margin-top: 107px;
}

.box-market-section {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 87px;

}

.item-market-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 19px;
    background-color: #49475c;
    border-radius: 16px;
    margin-bottom: 54px;
    width: 100%;
    height: 100%;
    max-width: 355px;
    max-height: 439px;
    transition-duration: 300ms;
    box-sizing: border-box;
}

.item-market-box:hover{

    background-color: #474668;
    
}

.market-section {
    margin-top: 70px;
}

.text-market-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 22px;
    width: 100%;
    padding-left: 16px;
}


.text-market-box span {
    font-size: 20px;
    color: #BFBFBF;
    text-transform: capitalize;
}

.value-text-market-box {
    margin-top: 17px;
}

.buttons-market-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
}

.buttons-market-box button {
    font-size: 14px;
    color: #ffffff;
    padding: 12px 43px;
    width: 100%;
    max-width: 130px;
}

div.buttons-market-box > button:nth-child(1) {
    margin-right: 57px;
}